<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462131427503-qkngu1a8htq1o8su347hl4dglccm3k1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462131427503-qkngu1a8htq1o8su347hl4dglccm3k1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCJa6ceHgwMMwKv0FUMHefeSEvmLDd5-d8</string>
	<key>GCM_SENDER_ID</key>
	<string>462131427503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wimvanlaer.wedding-s-w</string>
	<key>PROJECT_ID</key>
	<string>weddingsw-3c88a</string>
	<key>STORAGE_BUCKET</key>
	<string>weddingsw-3c88a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462131427503:ios:7c036f4c2a827ebb9abc5a</string>
</dict>
</plist>